/* ==UserStyle==
@name           RFC Text
@namespace      https://github.com/martinthomson/rfc-txt-html
@version        1.0.0
@description    Restyle HTML RFCs to look like text
@author         Martin Thomson <mt@lowentropy.net>
@homepageURL    https://github.com/martinthomson/rfc-txt-html
@supportURL     https://github.com/martinthomson/rfc-txt-html/issues
@preprocessor   default

==/UserStyle== */
@-moz-document regexp("https://(?:www\\.)ietf\\.org/(?:archive/id/draft-|rfc/rfc).*\\.html(?:#.*)?"),
               regexp("https://(?:www\\.)rfc-editor\\.org/rfc/(?:internet-drafts/draft-.*-|rfc)\\d+(?:\\.html)?(?:#.*)?") {

@import url("https://martinthomson.github.io/rfc-txt-html/txt.css");

body {
    max-width: 72ch;
    padding: 0;
    line-height: var(--line) !important;
    font-family: monospace !important;
    font-size: 1em !important;
}
#internal-metadata, #title, #toc, #toc :is(h2, nav), .section-number,
h1, h2, h3, h4, h5, pre, p, aside {
    padding: 0;
}
#toc, div:is(.alignLeft, .alignCenter, .alignRight) {
	margin: 0;
}
#toc h2 {
    font-weight: normal;
}
#identifiers .authors .org, figcaption, caption {
  font-style: normal;
}
#title, #toc h2 {
	border: none;
	margin: var(--line) 0;
}
#toc {
	position: unset;
	top: unset;
	right: unset;
	width: unset;
}
#toc nav {
	height: unset;
	bottom: unset;
	overflow: unset;
}
nav.toc li {
	text-indent: 0;
}
div, span {
    position: unset;
}
tt, code, pre {
	background-color: unset;
	font-family: unset;
}
dl > dd {
	margin: var(--paragraph);
	min-height: unset;
}
th, tr:nth-child(2n+1) > td {
	background-color: unset;
}
aside, pre {
    border: none;
    margin: var(--block);
}
.references dt {
	text-align: left;
	font-weight: bold;
}

} /* @-moz-document */
